<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Урок 18.</title>
    <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
</head>
<!-- ================================ПОДСКАЗКИ=================================== -->
<!-- Закоментировать текст ctrl + /  -->
<!-- Копировать текущую строчку вниз Alt+Shift+Down -->
<!-- Выбрать место написания в конкретных местах Alt+ЛКМ -->
<!-- Выделить что-то в нужном направлении Shift+Left/Right -->
<!-- Выделить нужное целое слово Ctrl+Shift+Left/Right -->
<!-- Обернуть выделенный текст в тег Alt+W -->
<!-- Изменить одновременно и откр-й и закр-й тег F2 -->
<!-- Вырезать Ctrl+X -->
<!-- ================================ПОДСКАЗКИ=================================== -->

<body>
    <!-- Control:Включает базовые функции проигрывателя. -->
    <!-- Loop:Включает автоповтор видео. -->
    <!-- Muted:Автоматически при загрузке сайта выключает звук в видео. -->
    <!-- Autoplay:Автоматически включате видео, работает только если есть предыдущий тег. -->
    <!-- Poster:Превьюшка для видео. -->
    <!-- Preload:Предзагрузка видео.
                None:Загружает видео только при его включении. 
                Auto:Загружает видео в момент загрузки сайта. 
                Metadata:Промежуточный вариант между Auto и None.  -->
    <video src="Z:\Work\template\Lesson18\video.mov" controls loop muted
        poster="Z:\Work\template\Lesson18\html-logo.svg" width="1000" height="500"></video>
</body>

</html>