/* Лучше использовать не конкретные значения, 
а косвенно задаваемые через min/max */
.block {
    /* width: 400px; */
    /* height: 400px; */
    max-width: 1000px;
    min-width: 200px;
    background: rgb(111, 111, 151);
}
