/* Селлектор по тегу. */
div {
    color: rgb(165, 42, 42);
}

/* Селлектор по классу.  */
.block {
    color: rgb(7, 252, 27);
}

/* Селлектор по Id. */
#id-block {
    color: blue;
}

/* Селлектор по атрибуту */
[data-example] {
    color: rgb(123, 0, 238);
}

/* Селлектор по атрибуту и определенному значению. */
[data-example="value2"] {
    color: rgb(0, 210, 238);
}

/* Комбинация нескольких классов в 1м селлекторе. */
.block1, .block3, .block5 {
    color: rgb(241, 9, 191);
}

/* Выбор конкретного тега при одинаковых классах. */
span.blue-block {
    color: gold;
}

/* Если нужно покрасить тег в теге, то после тега ставится пробел, и только потом пишется класс */
div .orange{
    color: orange;
}

/* Если поставить >, то можно перекрасить только прямые дочерние элементы. */
.parent>.child{
    color: rgb(49, 232, 245);
}