<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Урок 13y.</title>
    <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
</head>
<!-- ================================ПОДСКАЗКИ=================================== -->
<!-- Закоментировать текст ctrl + /  -->
<!-- Копировать текущую строчку вниз Alt+Shift+Down -->
<!-- Выбрать место написания в конкретных местах Alt+ЛКМ -->
<!-- Выделить что-то в нужном направлении Shift+Left/Right -->
<!-- Выделить нужное целое слово Ctrl+Shift+Left/Right -->
<!-- Обернуть выделенный текст в тег Alt+W -->
<!-- Изменить одновременно и откр-й и закр-й тег F2 -->
<!-- Удалить строку Ctrl+X -->
<!-- ================================ПОДСКАЗКИ=================================== -->

<body>
    <!-- ===========================Первый сайт================================== -->
    <!-- https://aroken.ru/ -->
    <header>
        <nav>
        </nav>
    </header>
    <Main>
        <article>
            <section></section>
            <section></section>
            <section>
                <div></div>
                <div></div>
                <div></div>
            </section>
        </article>
        <article>
            <div></div>
            <div></div>
        </article>
        <article>
            <section></section>
            <section>
                <div></div>
                <div></div>
            </section>
        </article>
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
        <article>
            <div></div>
            <div></div>
        </article>
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
        <article></article>
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
        <article>
            <div></div>
            <div></div>
        </article>
        <article></article>
        <article>
            <div></div>
        </article>
        <article>
            <div></div>
            <div></div>
            <div></div>
        </article>
        <article>
            <div></div>
        </article>
        <article>
            <div></div>
        </article>
        <article>
            <div></div>
        </article>
    </Main>
    <footer>
        <div></div>
    </footer>
    <!-- ===========================Второй сайт================================== -->
    <!-- https://worldofwarcraft.blizzard.com/ru-ru/ -->
    <header>
        <nav></nav>
    </header>
    <main>
        <section>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
    </main>
    <footer>
        <div></div>
    </footer>
    <!-- ============================Третий сайт=================================== -->
    <!-- https://www.litres.ru/ -->
    <header>
        <nav></nav>
    </header>
    <main>
        <section>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
    </main>
    <footer>
    </footer>
    <!-- ==========================Четвертый сайт================================= -->
    <!-- https://developer.mozilla.org/ru/docs/Web/HTML -->
    <header>
        <nav></nav>
    </header>
    <main>
        <nav></nav>
        <aside>
            <nav></nav>
        </aside>
        <section>
            <div></div>
            <div></div>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>