/* ==================================HEADER================================== */
.body {
    background: #181E34;
    color: #FFF;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.header {
    box-sizing: border-box;
    display: flex;
    padding: 30px 0px 36px;
    align-items: center;
    justify-content: center;
}

.header-main {
    display: flex;
}

.logo-in-header {
    margin-right: 410px;
    display: inline-block;
    width: 48px;
    height: 48px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.ul {
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.nav-li {
    display: inline-block;
}

.button {
    display: flex;
    padding: 14px 30px;
    align-items: flex-start;
    border-radius: 100px;
    font-weight: 500;
    line-height: normal;
    color: #2766AE;
    margin-left: 34px;
}

/* ==================================SECTION1================================== */
.section-first {
    background-image: url(../img/mainback.png);
    display: flex;
    color: #FFF;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
}

.main-info {
    display: flex;
    align-self: center;
    width: 900px;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.h1 {
    order: 3;
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 300px 60px;
    justify-content: center;
}

.p-block {
    order: 1;
    width: 436px;
    height: 159px;
    line-height: 15px
}

.p1 {
    display: inline-block;
    line-height: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.p-style {
    display: inline-block;
    font-weight: 700;
    line-height: normal;
    color: #01A2CB;
    text-transform: uppercase;
}

.p2 {
    display: inline-block;
    font-weight: 400;
    line-height: 25px;
    width: 436px;
    height: 72px;
    margin-top: 15px;
}

.button-block {
    order: 2;
    align-self: center;
}

.button-in-main {
    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    width: 320px;
    height: 56px;
}

.button-and-svg {
    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    width: 320px;
    height: 56px;
    margin-top: 15px;
}

/* ==================================SECTION2================================== */
.section-second {
    height: 808px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.second-info {
    height: 568px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.head-block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    width: 520px;
    flex-wrap: wrap;
    margin: bottom 60px;
}

.h2 {
    display: flex;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    border: 2px solid #176BAE;
    background: #197CB8;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    width: 204px;
    height: 141px;
    font-weight: 400;
    line-height: 150%;
    display: inline-block;
    margin-bottom: 28px;
    text-align: center;
}

.h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.long-button {
    display: flex;
    width: 436px;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hr {
    border: 1px solid #a8a9db23;
}

/* ==================================FOOTER================================== */

.footer {
    height: 360px;
    display: flex;
    justify-content: center;
}

.footer-block {
    display: flex;
    width: 885px;
    margin-top: 60px;
    justify-content: space-between;
}

.left-block {
    width: 270px;
    margin-right: 200px;
}

.footer-logo {
    display: flex;
    width: 48px;
    height: 48px;
}

.right-block {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.ul-footer {
    display: inline-block;
    width: 220px;
}

.h4 {
    margin-bottom: 20px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.li-footer{
    margin-bottom: 10px;
}