.body{
    background: #181E34;
}
.header {
    display: block;
    padding: 30px 275px 36px 270px;
    align-items: center;
    min-width: 1440px;
}

.header-main {
    display: flex;
}

.logo-in-header {
    width: 48px;
    height: 48px;
    margin-right: 410px;
}

.header-nav {
    align-items: center;
    display: flex;
    min-width: 437px;
    justify-content: space-between;
}

.ul {
    display: flex;
    justify-content: space-between;
    min-height: 24px;
    min-width: 290px;
}

.nav-li {
    display: inline-block;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    min-width: 50px;
    min-height: 24px;
}

.button {
    display: flex;
    padding: 14px 30px;
    align-items: flex-start;
    border-radius: 100px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #2766AE;
    margin-left: 34px;
}

.h1 {
    width: 269px;
    height: 49px;
    margin: 120px 0px 0px 564px;
}

.section-first {
    color: #FFF;
    display: flex;
    background-image: url(../img/mainback.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h1 {
    margin: 120px 607px 0px 564px;
}

.main-info {
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    margin: 60px 270px 120px 270px;
}

.p-block {
    width: 436px;
    height: 159px;
    line-height: 15px
}

.p1 {
    display: inline;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.p2 {
    display: inline-block;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 436px;
    height: 72px;
    margin: 15px 0px 0px 0px;
}

.p-style {
    display: inline;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #01A2CB;
    text-transform: uppercase;
}

.button-block {
    align-self: center;
    width: 320px;
    height: 122px;
}

.button-in-main {
    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    width: 320px;
    height: 56px;
}

.button-and-svg{
    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    width: 320px;
    height: 56px;
    margin-top: 15px;
}