body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #e0d5c5;
}
/*  ======================================================  */
/* box-sizing: border-box; Включает padding в размер блока. */
/* padding: если использовать 4 значения, то он будут применяться по часовой стрелке.
            если использовать 3 значения, то параметры будут задаваться отдельно для верха, низа
            и обобщенно для правой и левой стороны
            если использовать 2 значения, то параметры задаются обобщенно для верха и низа,
            и для правой и левой стороны.                                                                */
.block{
    /* box-sizing: border-box;
    width: 1000px;
    padding: 50px;
    margin: 50px; */
    padding: 30px 30px;
}