<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Урок 19.</title>
    <link rel="shortcut icon" href="html-logo.svg" type="image/x-icon">
</head>
<!-- ================================ПОДСКАЗКИ=================================== -->
<!-- Закоментировать текст ctrl + /  -->
<!-- Копировать текущую строчку вниз Alt+Shift+Down -->
<!-- Выбрать место написания в конкретных местах Alt+ЛКМ -->
<!-- Выделить что-то в нужном направлении Shift+Left/Right -->
<!-- Выделить нужное целое слово Ctrl+Shift+Left/Right -->
<!-- Обернуть выделенный текст в тег Alt+W -->
<!-- Изменить одновременно и откр-й и закр-й тег F2 -->
<!-- Вырезать Ctrl+X -->
<!-- ================================ПОДСКАЗКИ=================================== -->

<body>
    <!-- Class:Используется для нейминга тегов.  -->
    <div class="div"></div>

    <!-- Id:Используется для нейминга тегов,
    должен быть уникальным.Недопустима начинать нейминг id с цифры.
    Id вставляется через #. -->
    <div id="d123"></div>

    <!--В значении данного атрибута можно ввести
    какую-либо подсказку, которая всплывёт при
    наведении на элемент-->
    <div title="Подсказка"></div>

    <!--Атрибут, позволяющий настраивать, можно ли фокусироваться
    на элементе с помощью клавиатуры (TAB или SHIFT+TAB)
    и в каком порядке фокус выделит именно его.-->
    <div tabindex="3"></div>

    <!--Пользователь сможет редактировать текст данного элемента-->
    <div contenteditable="true"></div>

    <!--Атрибут spellcheck определяет, будет ли проверяться
    правописание набираемого текста.
    Результат можно будет увидеть только в редактируемых элементах,
    таких как input, textaria и т.д., а также в элементах,
    для которых прописан contenteditable-->
    <div contenteditable="true" spellcheck="false"></div>

    <!--Скрывает элемент, подобно параметру display: none;-->
    <div hidden></div>
</body>

</html>