body {
    background-color: #333;
    color: #fff;
}

.container {
    padding: 100px 100px 50vh;
    height: 100%;
}

.transition {
    height: 100%;
}

.button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #555;
}

.block {
    width: 10px;
    height: 150px;
}

.red {
    background: linear-gradient(120deg, #f34384c4, #f16452c4 1000px);
}

.blue {
    background: linear-gradient(120deg, #5f51dbc4, #73bcecc4 1000px);
}

.orange {
    background: linear-gradient(120deg, #f09351c4, #f8bf86c4 1000px);
}

.purple {
    background: linear-gradient(120deg, #b475f8c4, #d27bf2c4 1000px);
}

.transition:hover .block {
    width: 100%;
}

/* ========================================================= */

.button {
    transition: all 1s .1s;
    /* background: linear-gradient(142deg, #989898 0%, #5e0101 100%); */

    /* transition-duration длительность анимации  */
    /* transition-duration: 2s;                   */

    /* transition-property выбирает на что влиять */
    /* transition-property: all;                  */

    /* transition-delay задержка перехода         */
    /* transition-delay: 1s;                      */

    /* transition-timing-function позволяет настроить скорость анимации во время одной и той же 
    длительности анимации            */
    /* transition-timing-function: ; */
}

.button:hover {
    background: #5e0101 ;
    border-radius: 100px;
}